@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: #8a817c;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
  color: #252323;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #252323;
  margin-bottom: 60px;
}

.logo a {
  color: #252323;
  font-size: 1.5rem;
  font-weight: bold;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  color: #252323;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.header ul li a:hover {
  color: #f4f3ee;
  transition: 0.5s;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
  background: center / cover no-repeat url(../src/assets/home_page_img.jpg);
  height: 30vh;
  border-radius: 5px;
}

.heading h1 {
  color: #f4f3ee;
  text-shadow: 1px 1px 1px #000;
}

.heading p {
  color: #e0afa0;
  text-shadow: 1px 1px 1px #000;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.boxes div {
  padding: 30px;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
}

.boxes h2 {
  margin-top: 20px;
}

.boxes a:hover {
  color: #777;
}

.form {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #f4f3ee;
  color: #252323;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #252323;
  border-radius: 5px;
  background: #e0afa0;
  color: #252323;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: auto;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #bcb8b1;
  color: #252323;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn-sm {
  padding: 5px 15px;
  font-size: 13px;
}

.btn-danger {
  background: #bc4749;
}

.btn-back {
  width: 150px;
  margin: 20px 0;
}

.btn:hover {
  transform: scale(0.98);
}

.note-created {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 50px;
}

.note-number {
  margin-bottom: 30px;
}

.note-number h2 {
  font-size: 2.3rem;
  margin-bottom: 10px;
}

.note-number p {
  font-size: 1.3rem;
}

.note-info {
  font-size: 1.3rem;
}

.note,
.note-headings {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background: #f4f4f4;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
}

.note-headings {
  font-weight: 700;
}

.status {
  background-color: #333;
  color: #fff;
  width: 80px;
  justify-self: center;
  border-radius: 10px;
  font-size: 12px;
  text-align: center;
}

.status-new {
  background-color: green;
  color: #fff;
  border-radius: 10px;
}

.status-open {
  background-color: steelblue;
  color: #fff;
  border-radius: 10px;
}

.status-complete {
  background-color: darkred;
  color: #fff;
  border-radius: 10px;
}

.note-page {
  position: relative;
  text-align: left;
}

.note-page h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note-page .btn {
  margin-bottom: 30px;
}

.note-page .btn-block {
  width: 100%;
  margin-top: 30px;
}

.note-desc {
  margin: 20px 0;
  font-size: 17px;
  background-color: #f4f4f4;
  border: 1px #ccc solid;
  padding: 10px 15px;
  border-radius: 5px;
}

.update {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  text-align: left;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

.update-head {
  background: #f4f4f4;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.update-date {
  position: relative;
  top: 15px;
  right: 10px;
  font-size: 14px;
  border-top: 1px solid #252323;
}

.delete-note {
  color: red;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.btn-complete {
  background: none;
  border: none;
  color: #000;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-complete:hover {
  color: #bc4749;
  transform: scale(0.98);
}

p.status-in-progress {
  color: orangered;
}

p.status-waiting {
  color: red;
}

p.status-ready {
  color: steelblue;
}

p.status-complete {
  color: green;
}

footer {
  position: sticky;
  top: 95vh;
  text-align: center;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .boxes {
    grid-template-columns: 1fr;
  }

  .form {
    width: 90%;
  }

  .note-created h2,
  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }

  .container {
    padding: 5px;
  }

  .note {
    padding: 5px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .note-headings {
    padding: 10px 0;
    grid-template-columns: repeat(3, 1fr);
  }

  .note-header h2 {
    font-size: 1rem;
  }
}
